# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
*.py[cod]

# System
.DS_Store

# Virtual Environment
.venv/
.vscode/
.idea/
.env
venv/

# Zip File
*.zip

# Node / Frontend
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Build / Tailwind output
dist/
build/